<form [formGroup]="taskForm" (ngSubmit)="addTask()">
	<div class="mb-4">
		<label for="name">Name</label>
		<input 
			id="name" 
			class="form-input"
			formControlName="name" 
			type="text" 
			placeholder="Task name"
		/>
		@if(taskForm.get('name')?.invalid && taskForm.get('name')?.touched) {
			<div class="error-message">
				@if(taskForm.get('name')?.errors?.['required']) {
					<span>Name is required</span>
				}
				@if(taskForm.get('name')?.errors?.['minlength']) {
					<span>Name must be at least 3 characters</span>
				}
			</div>
		}
	</div>

	<div class="mb-4">
		<label for="description">Description</label>
		<textarea 
			id="description" 
			class="form-input"
			formControlName="description" 
			placeholder="Task description" 
			rows="3"
		></textarea>
			@if(taskForm.get('description')?.invalid && taskForm.get('description')?.touched) {
				<div class="error-message">
					@if(taskForm.get('description')?.errors?.['required']) {
						<span>Description is required</span>
					}
				</div>
			}
	</div>
	
	<!-- form actions -->
	<div class="flex gap-2 justify-end">
		<button type="button" class="button --color-primary" (click)="addTask()" [disabled]="taskForm.invalid">Add Task</button>
	</div>
</form>